# coding: utf-8

"""
    CWMS Data API

    CWMS REST API for Data Retrieval  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cda_client.api_client import ApiClient


class ClobApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_cwms_data_clobs_with_clob_id(self, clob_id, office, **kwargs):  # noqa: E501
        """Delete cwmsData clobs with clobId  # noqa: E501

        Delete clob  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_cwms_data_clobs_with_clob_id(clob_id, office, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str clob_id: Specifies the id of the clob to be deleted (required)
        :param str office: Specifies the office of the clob. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_cwms_data_clobs_with_clob_id_with_http_info(clob_id, office, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_cwms_data_clobs_with_clob_id_with_http_info(clob_id, office, **kwargs)  # noqa: E501
            return data

    def delete_cwms_data_clobs_with_clob_id_with_http_info(self, clob_id, office, **kwargs):  # noqa: E501
        """Delete cwmsData clobs with clobId  # noqa: E501

        Delete clob  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_cwms_data_clobs_with_clob_id_with_http_info(clob_id, office, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str clob_id: Specifies the id of the clob to be deleted (required)
        :param str office: Specifies the office of the clob. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['clob_id', 'office']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_cwms_data_clobs_with_clob_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'clob_id' is set
        if ('clob_id' not in params or
                params['clob_id'] is None):
            raise ValueError("Missing the required parameter `clob_id` when calling `delete_cwms_data_clobs_with_clob_id`")  # noqa: E501
        # verify the required parameter 'office' is set
        if ('office' not in params or
                params['office'] is None):
            raise ValueError("Missing the required parameter `office` when calling `delete_cwms_data_clobs_with_clob_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'clob_id' in params:
            path_params['clob-id'] = params['clob_id']  # noqa: E501

        query_params = []
        if 'office' in params:
            query_params.append(('office', params['office']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey', 'CwmsAAACacAuth']  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/clobs/{clob-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_cwms_data_clobs(self, **kwargs):  # noqa: E501
        """Get cwmsData clobs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_clobs(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str office: Specifies the owning office. If this field is not specified, matching information from all offices shall be returned.
        :param str page: This end point can return a lot of data, this identifies where in the request you are. This is an opaque value, and can be obtained from the 'next-page' value in the response.
        :param str cursor: Deprecated. Use 'page' instead.
        :param int page_size: How many entries per page returned. Default 20.
        :param int page_size: Deprecated, use 'page-size' instead.
        :param bool include_values: Do you want the value associated with this particular clob (default: false)
        :param bool include_values: Deprecated, use 'include-values' instead.
        :param str like: Posix <a href=\"regexp.html\">regular expression</a> matching against the id
        :return: Clobs
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cwms_data_clobs_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_cwms_data_clobs_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_cwms_data_clobs_with_http_info(self, **kwargs):  # noqa: E501
        """Get cwmsData clobs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_clobs_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str office: Specifies the owning office. If this field is not specified, matching information from all offices shall be returned.
        :param str page: This end point can return a lot of data, this identifies where in the request you are. This is an opaque value, and can be obtained from the 'next-page' value in the response.
        :param str cursor: Deprecated. Use 'page' instead.
        :param int page_size: How many entries per page returned. Default 20.
        :param int page_size: Deprecated, use 'page-size' instead.
        :param bool include_values: Do you want the value associated with this particular clob (default: false)
        :param bool include_values: Deprecated, use 'include-values' instead.
        :param str like: Posix <a href=\"regexp.html\">regular expression</a> matching against the id
        :return: Clobs
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['office', 'page', 'cursor', 'page_size', 'page_size', 'include_values', 'include_values', 'like']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cwms_data_clobs" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'office' in params:
            query_params.append(('office', params['office']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page-size', params['page_size']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'include_values' in params:
            query_params.append(('include-values', params['include_values']))  # noqa: E501
        if 'include_values' in params:
            query_params.append(('includeValues', params['include_values']))  # noqa: E501
        if 'like' in params:
            query_params.append(('like', params['like']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json;version=2', 'application/xml;version=2'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/clobs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Clobs',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_cwms_data_clobs_with_clob_id(self, clob_id, **kwargs):  # noqa: E501
        """Get cwmsData clobs with clobId  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_clobs_with_clob_id(clob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str clob_id: (required)
        :param str office: Specifies the owning office.
        :return: Clob
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cwms_data_clobs_with_clob_id_with_http_info(clob_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_cwms_data_clobs_with_clob_id_with_http_info(clob_id, **kwargs)  # noqa: E501
            return data

    def get_cwms_data_clobs_with_clob_id_with_http_info(self, clob_id, **kwargs):  # noqa: E501
        """Get cwmsData clobs with clobId  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_clobs_with_clob_id_with_http_info(clob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str clob_id: (required)
        :param str office: Specifies the owning office.
        :return: Clob
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['clob_id', 'office']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cwms_data_clobs_with_clob_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'clob_id' is set
        if ('clob_id' not in params or
                params['clob_id'] is None):
            raise ValueError("Missing the required parameter `clob_id` when calling `get_cwms_data_clobs_with_clob_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'clob_id' in params:
            path_params['clob-id'] = params['clob_id']  # noqa: E501

        query_params = []
        if 'office' in params:
            query_params.append(('office', params['office']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json;version=2'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/clobs/{clob-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Clob',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_cwms_data_clobs_with_clob_id(self, body, clob_id, **kwargs):  # noqa: E501
        """Patch cwmsData clobs with clobId  # noqa: E501

        Update clob  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_cwms_data_clobs_with_clob_id(body, clob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Clob body: (required)
        :param str clob_id: Specifies the id of the clob to be updated (required)
        :param bool ignore_nulls: If true, null and empty fields in the provided clob will be ignored and the existing value of those fields left in place. Default: true
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_cwms_data_clobs_with_clob_id_with_http_info(body, clob_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_cwms_data_clobs_with_clob_id_with_http_info(body, clob_id, **kwargs)  # noqa: E501
            return data

    def patch_cwms_data_clobs_with_clob_id_with_http_info(self, body, clob_id, **kwargs):  # noqa: E501
        """Patch cwmsData clobs with clobId  # noqa: E501

        Update clob  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_cwms_data_clobs_with_clob_id_with_http_info(body, clob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Clob body: (required)
        :param str clob_id: Specifies the id of the clob to be updated (required)
        :param bool ignore_nulls: If true, null and empty fields in the provided clob will be ignored and the existing value of those fields left in place. Default: true
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'clob_id', 'ignore_nulls']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_cwms_data_clobs_with_clob_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_cwms_data_clobs_with_clob_id`")  # noqa: E501
        # verify the required parameter 'clob_id' is set
        if ('clob_id' not in params or
                params['clob_id'] is None):
            raise ValueError("Missing the required parameter `clob_id` when calling `patch_cwms_data_clobs_with_clob_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'clob_id' in params:
            path_params['clob-id'] = params['clob_id']  # noqa: E501

        query_params = []
        if 'ignore_nulls' in params:
            query_params.append(('ignore-nulls', params['ignore_nulls']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json;version=2', 'application/xml;version=2'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey', 'CwmsAAACacAuth']  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/clobs/{clob-id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_cwms_data_clobs(self, body, **kwargs):  # noqa: E501
        """Post cwmsData clobs  # noqa: E501

        Create new Clob  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_cwms_data_clobs(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Clob body: (required)
        :param bool fail_if_exists: Create will fail if provided ID already exists. Default: true
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_cwms_data_clobs_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_cwms_data_clobs_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def post_cwms_data_clobs_with_http_info(self, body, **kwargs):  # noqa: E501
        """Post cwmsData clobs  # noqa: E501

        Create new Clob  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_cwms_data_clobs_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Clob body: (required)
        :param bool fail_if_exists: Create will fail if provided ID already exists. Default: true
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'fail_if_exists']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_cwms_data_clobs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_cwms_data_clobs`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'fail_if_exists' in params:
            query_params.append(('fail-if-exists', params['fail_if_exists']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json;version=2', 'application/xml;version=2'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey', 'CwmsAAACacAuth']  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/clobs', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
