# coding: utf-8

"""
    CWMS Data API

    CWMS REST API for Data Retrieval  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cda_client.api_client import ApiClient


class PoolsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_cwms_data_pools(self, **kwargs):  # noqa: E501
        """Get cwmsData pools  # noqa: E501

        Returns Pools Data  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_pools(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str office: Specifies the owning office of the data in the response. If this field is not specified, matching items from all offices shall be returned.
        :param str id_mask: Project Id mask. Default value:*
        :param str name_mask: Name mask. Default value:*
        :param str bottom_mask: Bottom level mask. Default value:*
        :param str top_mask: Top level mask. Default value:*
        :param str include_explicit: Specifies if the results should include explicit Pools. Default value:false
        :param str include_implicit: Specifies if the results should include implicit Pools. Default value:true
        :param str page: This end point can return a lot of data, this identifies where in the request you are. This is an opaque value, and can be obtained from the 'next-page' value in the response.
        :param str cursor: Deprecated. Use 'page' instead.
        :param int page_size: How many entries per page returned. Default 100.
        :param int page_size: Deprecated. Use 'page-size' instead.
        :return: Pools
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cwms_data_pools_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_cwms_data_pools_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_cwms_data_pools_with_http_info(self, **kwargs):  # noqa: E501
        """Get cwmsData pools  # noqa: E501

        Returns Pools Data  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_pools_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str office: Specifies the owning office of the data in the response. If this field is not specified, matching items from all offices shall be returned.
        :param str id_mask: Project Id mask. Default value:*
        :param str name_mask: Name mask. Default value:*
        :param str bottom_mask: Bottom level mask. Default value:*
        :param str top_mask: Top level mask. Default value:*
        :param str include_explicit: Specifies if the results should include explicit Pools. Default value:false
        :param str include_implicit: Specifies if the results should include implicit Pools. Default value:true
        :param str page: This end point can return a lot of data, this identifies where in the request you are. This is an opaque value, and can be obtained from the 'next-page' value in the response.
        :param str cursor: Deprecated. Use 'page' instead.
        :param int page_size: How many entries per page returned. Default 100.
        :param int page_size: Deprecated. Use 'page-size' instead.
        :return: Pools
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['office', 'id_mask', 'name_mask', 'bottom_mask', 'top_mask', 'include_explicit', 'include_implicit', 'page', 'cursor', 'page_size', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cwms_data_pools" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'office' in params:
            query_params.append(('office', params['office']))  # noqa: E501
        if 'id_mask' in params:
            query_params.append(('id-mask', params['id_mask']))  # noqa: E501
        if 'name_mask' in params:
            query_params.append(('name-mask', params['name_mask']))  # noqa: E501
        if 'bottom_mask' in params:
            query_params.append(('bottom-mask', params['bottom_mask']))  # noqa: E501
        if 'top_mask' in params:
            query_params.append(('top-mask', params['top_mask']))  # noqa: E501
        if 'include_explicit' in params:
            query_params.append(('include-explicit', params['include_explicit']))  # noqa: E501
        if 'include_implicit' in params:
            query_params.append(('include-implicit', params['include_implicit']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page-size', params['page_size']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json;version=2'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/pools', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Pools',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_cwms_data_pools_with_pool_id(self, pool_id, office, project_id, **kwargs):  # noqa: E501
        """Get cwmsData pools with poolId  # noqa: E501

        Retrieves requested Pool  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_pools_with_pool_id(pool_id, office, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str pool_id: Specifies the pool whose data is to be included in the response. (required)
        :param str office: Specifies the owning office of the Pool whose data is to be included in the response. (required)
        :param str project_id: Specifies the project-id of the Pool whose data is to be included in the response. (required)
        :param str bottom_mask: Bottom level mask. Default value:*
        :param str top_mask: Top level mask. Default value:*
        :param str include_explicit: Specifies if the results should include explicit Pools. Default value:false
        :param str include_implicit: Specifies if the results should include implicit Pools. Default value:true
        :return: Pool
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cwms_data_pools_with_pool_id_with_http_info(pool_id, office, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_cwms_data_pools_with_pool_id_with_http_info(pool_id, office, project_id, **kwargs)  # noqa: E501
            return data

    def get_cwms_data_pools_with_pool_id_with_http_info(self, pool_id, office, project_id, **kwargs):  # noqa: E501
        """Get cwmsData pools with poolId  # noqa: E501

        Retrieves requested Pool  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cwms_data_pools_with_pool_id_with_http_info(pool_id, office, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str pool_id: Specifies the pool whose data is to be included in the response. (required)
        :param str office: Specifies the owning office of the Pool whose data is to be included in the response. (required)
        :param str project_id: Specifies the project-id of the Pool whose data is to be included in the response. (required)
        :param str bottom_mask: Bottom level mask. Default value:*
        :param str top_mask: Top level mask. Default value:*
        :param str include_explicit: Specifies if the results should include explicit Pools. Default value:false
        :param str include_implicit: Specifies if the results should include implicit Pools. Default value:true
        :return: Pool
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pool_id', 'office', 'project_id', 'bottom_mask', 'top_mask', 'include_explicit', 'include_implicit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cwms_data_pools_with_pool_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'pool_id' is set
        if ('pool_id' not in params or
                params['pool_id'] is None):
            raise ValueError("Missing the required parameter `pool_id` when calling `get_cwms_data_pools_with_pool_id`")  # noqa: E501
        # verify the required parameter 'office' is set
        if ('office' not in params or
                params['office'] is None):
            raise ValueError("Missing the required parameter `office` when calling `get_cwms_data_pools_with_pool_id`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_cwms_data_pools_with_pool_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'pool_id' in params:
            path_params['pool-id'] = params['pool_id']  # noqa: E501

        query_params = []
        if 'office' in params:
            query_params.append(('office', params['office']))  # noqa: E501
        if 'project_id' in params:
            query_params.append(('project-id', params['project_id']))  # noqa: E501
        if 'bottom_mask' in params:
            query_params.append(('bottom-mask', params['bottom_mask']))  # noqa: E501
        if 'top_mask' in params:
            query_params.append(('top-mask', params['top_mask']))  # noqa: E501
        if 'include_explicit' in params:
            query_params.append(('include-explicit', params['include_explicit']))  # noqa: E501
        if 'include_implicit' in params:
            query_params.append(('include-implicit', params['include_implicit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json;version=2'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/cwms-data/pools/{pool-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Pool',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
